aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
atomicwrites
attrs
cachetools
certifi
chardet
charset-normalizer
colorama
dataclasses
deprecation
et_xmlfile
frozenlist
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
gotrue
gspread
gunicorn
h11
h2
hpack
httpcore
httplib2
httpx
hyperframe
idna
iniconfig
multidict
numpy
oauthlib
openpyxl
packaging
pandas
pluggy
postgrest
postgrest-py
propcache
proto-plus
protobuf
psycopg2
psycopg2-binary
py
pyasn1
pyasn1_modules
pydantic
pydantic_core
pyparsing
pytest
python-dateutil
python-dotenv
pytz
realtime
realtime-py
requests
requests-oauthlib
rfc3986
rsa
six
sniffio
storage3
supabase
supabase-py
supafunc
toml
typing_extensions
tzdata
uritemplate
urllib3
waitress
websockets
yarl
